@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
/* Estilos preexistentes */
body {
    background-color: #f0ceed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.envelope-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 100%;
}

#envelope {
    position: relative;
    width: 280px;
    height: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #9d18a1;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.front {
    position: absolute;
    width: 0;
    height: 0;
    z-index: 3;
}

.flap {
    border-left: 140px solid transparent;
    border-right: 140px solid transparent;
    border-bottom: 82px solid transparent;
    border-top: 98px solid #c96dbc;
    transform-origin: top;
    pointer-events: none;
}

.pocket {
    border-left: 140px solid #dd9dd2;
    border-right: 140px solid #dd9dd2;
    border-bottom: 90px solid #d87ccc;
    border-top: 90px solid transparent;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.letter {
    position: absolute;
    background-color: #fff;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.letter:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.words {
    position: absolute;
    left: 10%;
    width: 80%;
    height: 14%;
    
}

.words.line1 {
    top: 10%;
    width: 80%;
    height: 7%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.words.line2 {
    top: 25%;
    /* Ajustar la posición vertical para dejar espacio para el gif */
    text-align: center;
    margin-bottom: 60px;
    /* Agregar margen inferior para separar del tercer conjunto de palabras */
}

.words.line2 img {
    width: 100%;
    height: auto;
}
.words.line3 {
    top: 60%;
    /* Ajustar la posición vertical para que esté debajo del segundo conjunto de palabras */
    width: 80%;
    height: 7%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.open .flap {
    transform: rotateX(180deg);
    transition: transform 0.4s ease, z-index 0.6s;
    z-index: 1;
}

.close .flap {
    transform: rotateX(0deg);
    transition: transform 0.4s 0.6s ease, z-index 1s;
    z-index: 5;
}

.close .letter {
    transform: translateX(-50%) translateY(0px) scale(1);
    transition: transform 0.4s ease, z-index 1s;
    z-index: 1;
}

.open .letter {
    transform: translateX(-50%) translateY(-100px) scale(2);
    transition: transform 0.4s 0.6s ease, z-index 0.6s;
    z-index: 3;
}

.hearts {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    z-index: 2;
}

.heart {
    position: absolute;
    bottom: 0;
    /* Adjusted to start at the bottom of the page */
    left: 50%;
    /* Adjusted to start in the middle of the page */
    transform: translateX(-50%);
    pointer-events: none;
    animation: floatUp 10s linear forwards;
    /* Adjusted animation */
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #b12ea6;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    pointer-events: none;
}

.heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

.close .heart {
    opacity: 0;
    -webkit-animation: none;
    animation: none;
}

.a1 {
    left: 20%;
    transform: scale(0.6);
    opacity: 1;
    -webkit-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
    -moz-animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.a2 {
    left: 55%;
    transform: scale(1);
    opacity: 1;
    -webkit-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
    -moz-animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.a3 {
    left: 10%;
    transform: scale(0.8);
    opacity: 1;
    -webkit-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
    -moz-animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@-webkit-keyframes slideUp {
    0% {
        top: 0;
    }

    100% {
        top: -600px;
    }
}

@keyframes slideUp {
    0% {
        top: 0;
    }

    100% {
        top: -600px;
    }
}

@-webkit-keyframes sideSway {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideSway {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.reset button {
    font-weight: 800;
    font-style: normal;
    transition: all 0.1s linear;
    -webkit-appearance: none;
    background-color: transparent;
    border: solid 2px #6f12a5;
    border-radius: 4px;
    color: #a544bd;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
    line-height: 1em;
    text-decoration: none;
    min-width: 120px;
    cursor: pointer;
}

.reset button:hover {
    background-color: #0077B2;
    color: #fff;
}

html{
    overflow: hidden;
}